<!-- File: templates/fetch_user_email.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Your Email</title>
    <link rel="stylesheet" href="../static/css/fetch_user_email.css">
</head>
<body>
    <header>
        <h1>Select Your Email</h1>
    </header>
    <div class="container">
        <form action="/create_project/select_email" method="POST">
            <label for="email">Email:</label>
            <select id="email" name="email">
                {% for email in emails %}
                    <option value="{{ email }}">{{ email }}</option>
                {% endfor %}
            </select>
            <div class="button-group">
                <button type="submit">Next</button>
                <button type="button" onclick="window.location.href='/'">Back</button>
            </div>
        </form>
    </div>
</body>
</html>
