<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulting Structural & Forensic Engineers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash_message.css') }}">
</head>
<body>
    {% include 'flash_message.html' %}
    <header>
        <img src="/static/images/landing_banner.jpg" alt="Consulting Structural & Forensic Engineers" class="banner">
    </header>
    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-message">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    
    <div class="container">
        <nav class="sidebar">
            <a href="{{ url_for('login') }}" class="btn">Login & Authenticate</a>
            <a href="{{ url_for('select_user_email_get') }}?next=select_project_number" class="btn">Generate AHJ Report</a>
            <a href="{{ url_for('select_user_email_get') }}?next=display_letter_details_get" class="btn">Generate Cover Letter</a>
            <button onclick="exitApp()" class="btn">Clear Session Data</button>
        </nav>
        
        
        <main class="content">
            <div id="instructions">
                <h1>SML Project Reporting Application</h1>
                <p><strong> First Time Users MUST "Login & Authenticate" before doing anything else</strong>.</p>
                <p> This will add your user credentials to the database and allow you to use the application.</p>
                <strong> To Create AHJ Report </strong>
                <ul>
                    <ol>
                        <li> Select <strong> Fetch Project Details </strong> to query and return the relevant Project & Client information </li>
                            <ul>
                                <li> Select your email from the drop down </li>
                                <li> Enter the project number taking care to include padding zeros </li>
                                <li> If the information is correct select <strong> confirm details </strong> </li>
                            </ul>
                        <li> Select <strong> Find AHJ & Amendments </strong> to find the AHJ for the project address and possible Amendments </li>
                            <ul>
                                <li> Select <strong> Search AHJ </strong> to find the AHJ information for the address </li>
                                <li> Then select <strong> Search Amendments </strong> to query possible Amendments to the IBC Codes </li>
                                <li> Finally select <strong> Confirm and Store </strong> to store the data for export </li>
                            </ul>
                        <li>Finally select <strong> Export AHJ Report </strong> to export all of the information to an excel workbook </li>
                            <ul>
                                <li> The workbook will be saved in the project directory on the companies J Drive </li>
                            </ul>
                        </ol>
                    </ul>
                <strong> To Generate a Calculation Cover Sheet </strong>
                <ul>
                <ol>
                    <li> Select Generate Cover Letter </li>
                    <li> Select your email from the drop down </li>
                        <ul>
                            <li> This is how your name is added to the report </li>
                        </ul>
                    <li> Search the project number </li>
                    <li> Confirm the details are correct and select Confirm </li>
                </ol>
            </ul> 
            </div>
        </main>
    </div>
    <!-- Close Browser window on exit -->
    <script>
        function exitApp() {
            fetch('/exit_app')
                .then(response => {
                    if (response.ok) {
                        window.close();
                    }
                })
                .catch(error => {
                    console.error("Error during exit:", error);
                });
        }
    </script>
</body>
</html>