<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulting Structural & Forensic Engineers</title>
    <link rel="stylesheet" href="../static/css/index_styling.css">
</head>
<body>
    <header>
        <img src="../static/images/landing_banner.jpg" alt="Consulting Structural & Forensic Engineers" class="banner">
    </header>
    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-message">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    
    <div class="container">
        <nav class="sidebar">
            <a href="{{ url_for('login') }}" class="btn">Login & Authenticate</a>
            <a href="{{ url_for('create_project') }}" class="btn">Create Project</a>
            <a href="{{ url_for('update_project_address') }}" class="btn">Update Project Address</a>
            <a href="{{ url_for('fetch_project_email') }}" class="btn">Fetch Project Details</a>
            <a href="{{ url_for('fetch_ahj_address') }}" class="btn">Find AHJ & Amendments</a>
            <a href="{{ url_for('export_project_details') }}" class="btn">Export Project Details</a>
            <a href="{{ url_for('create_cover_sheet') }}" class="btn">Create Cover Sheet</a>
            <button onclick="exitApp()" class="btn">Exit Program</button>
        </nav>
        
        <main class="content">
            <div id="instructions">
                <h1>Welcome to the "SML Report Generator"</h1>
                <p>If this is your first time using the application, you must first select <strong>"Login & Authenticate"</strong>. This will take you through BQE Core's Authentication process and add your credentials to the database.</p>
                <ul>
                    <li><strong>Select "Create Project"</strong> if you wish to create a new project and add it to Core.</li>
                    <li><strong>Select "Update Project Address"</strong> to either:
                        <ul>
                            <li>Add an address to an existing project from the memo.</li>
                            <li>Manually enter the address and update an existing project in Core.</li>
                        </ul>
                    </li>
                    <li><strong>Select "Fetch Project Details"</strong> to retrieve relevant project and client information.
                        <ul>
                            <li>You must do this prior to exporting the Project Details to an Excel workbook or to search the AHJ and Amendments for a given project number.</li>
                        </ul>
                    </li>
                    <li><strong>Select "Find AHJ & Amendments"</strong> to:
                        <ul>
                            <li>View AHJ Information and possible amendments to building codes for a given address.</li>
                            <li>Create a new project report (Excel workbook).</li>
                            <li>Update a project report workbook missing this information.</li>
                        </ul>
                    </li>
                    <li><strong>Select "Export Project Details"</strong> to export any of the information queried to a project report.</li>
                    <li><strong>Select "Create Cover Sheet"</strong> to build a report cover sheet from a project report.</li>
                </ul>
            </div>
        </main>
    </div>
    <!-- Close Browser window on exit -->
    <script>
        function exitApp() {
            fetch('/exit_app')
                .then(response => {
                    if (response.ok) {
                        // Clear session and close the browser tab
                        window.close();
                    }
                })
                .catch(error => {
                    console.error("Error during exit:", error);
                });
        }
    </script>
</body>
</html>
