<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Project Number</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select_project_number.css') }}">

    <script>
        function showLoading() {
            document.getElementById("loading-spinner").style.display = "block";
        }
    </script>
</head>
<body>
    <header>
        <h1>Enter Project Number</h1>
    </header>
    
    <div class="container">
        <form action="{{ url_for('generate_ahj_report') }}" method="POST" onsubmit="showLoading()">
            <label for="project_number">Project Number:</label>
            <input type="text" id="project_number" name="project_number" required>

            <input type="hidden" name="next_url" value="{{ next_url }}">
            
            <div class="instructions">
                <h4>Formatting Instructions</h4>
                <p>Padding / Leading zeros must be included in the Project ID.</p>
                <ul>
                    <li>ID 1 should be 0001-17 or 24-0001</li>
                    <li>ID 12 should be 0012-17 or 24-0012</li>
                    <li>ID 319 should be 0319-17 or 24-0319</li>
                    <li>ID 1067 should be 1067-17 or 24-1067</li>
                </ul>
            </div>

            <button type="submit">Generate AHJ Report</button>
            <button type="button" onclick="window.location.href='{{ url_for("select_user_email_get") }}'">Back</button>
        </form>
        
        <div id="loading-spinner" style="display:none;">
            <p>Please wait, Generating AHJ Report</p>
            <div class="spinner"></div>
        </div>
    </div>
</body>
</html>
